[Desktop Entry]
Name=PowerCTL
Comment=CPU/GPU power profile manager
Exec=powerctl
Icon=powerctl
Type=Application
Categories=System;Settings;
Keywords=power;cpu;gpu;performance;battery;profile;
Terminal=false
StartupNotify=true